

<!DOCTYPE html>
<html>
    <head>
        <title>Informacoes das PCDs Cemaden</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="300" />

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/personalizacao.css" rel="stylesheet" media="screen">
        <script src="js/jquery.js" ></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.iframe-auto-height.plugin.js"></script>
        <script src="js/jquery.browser.js"></script>
        <script src="js/tablesorter.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".ajax-link").popover({trigger: 'hover', placement: 'top', title: 'Observações', content: "Clique no indice para exibir o grafico!"});
                $(".ajax-link_periodo").popover({trigger: 'hover', placement: 'top', title: 'Observações', content: "Clique na estação para pesquisar dados por período!"});
            });
            function rolar_para(elemento) {
                $('html, body').animate({
                    scrollTop: $(elemento).offset().top
                }, 2000);
            }
        </script>
        <style>
        .ac24red {
            background-color:red;
        }
        .ac24orange {
            background-color:orange;
        }
        .ac24yellow {
            background-color:yellow;
        }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cemaden - Estações Pluviômétricas</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                </li>
            </ul>
        </nav><!-- /.navbar-collapse -->
        <div class="col-md-12 banner"></div>
        <div class="col-md-12 sombra"></div>
        <script>
            var nomeCidade;
            var app = angular.module('tabela', []);
            app.controller('tabelaCtrl', function($scope, $http, $timeout) {
                $scope.carregando = false;
                $scope.teste = function() {
                  var estado = _GET("uf");
                  $scope.carregando = true;
                  $http.get("getJson2.php?uf="+estado,{ cache: false})
                  .success(function (response) {
                      console.log(response);
                      $scope.interativo = response;
                      $scope.carregando=false;
                    }
                    );
                };
                $timeout($scope.teste(),100);
            });
            function preencheCidade(){
               //document.getElementById('tboxCidade').value = nomeCidade;
               $('#tboxCidade').val(nomeCidade).trigger('input');
            }
            function _GET(name){
                var url   = window.location.search.replace("?", "");
                var itens = url.split("&");
                for(n in itens)
                {
                    if( itens[n].match(name) )
                    {
                        return decodeURIComponent(itens[n].replace(name+"=", ""));
                    }
                }
                return null;
            }
        </script>
        <br/>
        <a name="graficos"></a>
        <div id="divGraph" class="col-md-12 grafico" style="width: 95%; margin: auto auto">
                            <iframe id="graph" name="graph" style="border:0px; width:100%;" scrolling="yes"
                src="grafico_pcds.php?idpcd=6195" onload="preencheCidade()"></iframe>
                        <script type="application/javascript">
                $('#graph').iframeAutoHeight({heightOffset: 15});
            </script>
        </div>
        <a name="tabelainfopcds"></a>
        <div class="col-md-12 tabela" ng-app="tabela" ng-controller="tabelaCtrl" style="width:95%; margin:  auto auto">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Tabelas com valores</b></div>
                    <div class="panel-body container-fluid">
                        <table id="infopcds" class="table table-hover table-striped" style="overflow:auto;max-width:none;">
                            <thead>
                                <tr class="alert alert-info" >
                                <th colspan="2">
                                <div ng-show="carregando">
                                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;&nbsp;Carregando...
                                </div>
                                </th>
                                <th>
                                </th>
                                <th colspan="11" style="text-align:right; padding-right:75px;">ACUMULADOS [ HR ]</th>
                                </tr>

                                <tr class="titulo">
                                    <th>UF
                                        <br>
                                        <div ng-hide="carregando">
                                        <!--<input ng-model="search.uf" size="2">-->
                                        </div>
                                    </th>
                                    <th>Cidade
                                        <br>
                                        <div ng-hide="carregando">
                                        <input id="tboxCidade" ng-model="search.cidade" size="20">
                                        </div>
                                    </th>
                                    <th style="max-width:150px;">Nome
                                        <br>
                                        <div ng-hide="carregando">
                                        <input ng-model="search.nomeestacao" size="12">
                                        </div>
                                    </th>
                                    <th>Data (Horário UTC)</th>
                                    <th>Último</th>
                                    <th>1</th>
                                    <th>6</th>
                                    <th>12</th>
                                    <th>24</th>
                                    <th>48</th>
                                    <th>72</th>
                                    <th>96</th>
                                    <th style="max-width: 55px;">Nível de <br /> Acumulado <br /> (mm/24h)</th>
                                    <th><center>Gráficos</center></th>
                                    <th><center>Tabelas</center></th>
                                </tr>
                                <tr ng-repeat="x in interativo  | orderBy:'-acc24hr' | filter:search">
                                    <td>{{ x.uf }}</td>
                                    <td>{{ x.cidade }}</td>
                                    <td style="max-width:150px;">{{ x.nomeestacao }}</a>
                                    </td>
                                    <td>{{ x.datahoraUltimovalor }}</td>
                                    <td>{{ x.ultimovalor }}</td>
                                    <td>{{ x.acc1hr }}</td>
                                    <td>{{ x.acc6hr }}</td>
                                    <td>{{ x.acc12hr }}</td>
                                    <td>{{ x.acc24hr }}</td>
                                    <td>{{ x.acc48hr }}</td>
                                    <td>{{ x.acc72hr }}</td>
                                    <td>{{ x.acc96hr }}</td>
                                    <td  ng-class=
                                    "{ac24red: x.acc24hr >= 70, ac24orange: x.acc24hr >= 30 && x.acc24hr < 70, ac24yellow: x.acc24hr >= 10 && x.acc24hr < 30}">
                                    &nbsp;</td>
                                    <td align="center">
                                        <a ng-href="grafico_CEMADEN.php?idpcd={{x.idestacao}}&uf={{x.uf}}">
                                            <img src="./img/chart.png" height="20">
                                        </a>
                                    </td>
                                    <td align="center">
                                        <a ng-href="grafico_CEMADEN.php?menu=periodo&idpcd={{x.idestacao}}&uf={{x.uf}}">
                                            <img src="./img/table.png" height="20">
                                        </a>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
        </div>
    </body>
</html>
